$margin-size: 10px;
$font-size: 14px;
body {

}

.blimp-container {
  text-align: center;

  .blimp {

  }

}

#email-form {
  color: grey;
  margin: 0 auto;
  margin-top: 15%;
  width: 80%;
  max-width: 600px;
  input, textarea, button {
    border: 1px solid red;
    display: block;
    width: 100%;
    padding: $margin-size / 2;
    margin-bottom: $margin-size;
    box-shadow: 10px 5px 0px red;
  }
  button {
    background: salmon;
    color: white;
  }

}